/*
*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
*/

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pages";
@import "units";
@import "products";
body {
  background: #f1f4f5;
}

a:hover,
a:focus {
  text-decoration: none;
}

a p {
  cursor: pointer;
  display: inline;
}

#sidebar {
  position: fixed;
  height: 100%;
  background: #273135;
  color: #89949B;
  padding-top: 10px;
  width: $sidebar-open-width;
  a {
    color: inherit;
  }
  ul li {
    cursor: pointer;
    display: block;
    a {
      padding: 15px 20px;
      display: block;
      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
      i {
        margin-right: 10px;
      }
    }
  }
  &.closed {
    text-align: center;
    p {
      display: none;
    }
    a {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      i {
        margin: 0;
        font-size: 1.5em;
        line-height: 0.75em;
        vertical-align: -15%;
      }
    }
  }
}

#content {
  margin-left: $sidebar-open-width;
  padding: 20px;
}

.panel {
  margin-bottom: 20px;
  box-shadow: none;
  border: 1px solid #E6EBEC;
  padding: 10px 15px;
  .panel-heading {
    border-bottom: 1px solid #E6EBEC;
    margin: -10px;
    margin-bottom: 10px;
    p {
      margin: 0 0 -7px 8px;
      font-size: 0.95em;
      color: #999;
    }
  }
  ol {
    padding-left: 25px;
  }
}

.chart-panel {
  width: 30vw;
  min-width: 400px;
}

.big-chart {
  width: 60vw;
  min-width: 400px;
}

#logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px;
}

#logo {
  max-width: 80vw;
  height: auto;
}