<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="table-panel" class="panel table-responsive">
  <table id="products-table", data-source="<%= products_path(format: :json) %>" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Types</th>
        <th>Categories</th>
        <th>Sets</th>
        <th>Codes</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
