<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<div id="table-panel" class="panel table-responsive">
  <table id="products-table", data-source="<%= products_path(format: :json) %>" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipos</th>
        <th>Categorias</th>
        <th>Géneros</th>
        <th>Códigos</th>
        <th>Precio Promedio</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
